
.wrapper {
    margin: 0 auto;
    max-width: 1100px;
}

fieldset {
    margin: 20px auto;
}

.boldText {
    font-weight: bold}
.age{
    max-width: 40px;
}
ul {
    list-style: none;
    margin-left:0;
    padding-left:0;
}

.margin-right {
    margin-right: 5px;
}

textarea {
    min-height: 120px;
    min-width: 400px;
}

.margin {
    margin-bottom: 0;
}

.italic {
    margin-top: 0;
    font-style: italic;
    font-weight: normal;
}

